body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculette {
    height: 95%;
    width: 30%;
    padding: 1%;
    background-color: #98B8AB;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

#ecran {
    width: 95%;
    height: 20%;
    background-color: #D5E5DA;
}

#ecran_result {
    margin-left: 430px;
    margin-top: 80px;
}

#touches {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

#num {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    flex-direction: column;
}

#operations {
    width: 30%;
    display: flex;
    flex-direction: column;
}

button {
    font-size: 30px;
    padding: 1%;
    background-color: #3E5055;
    color: white;
    border: none;
    margin: 2px;
}

button:hover {
    background-color: #445b61;
}

#title {
    font-size: 50px;
    text-align: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}